.git
.venv
.env*
__pycache__/
*.pyc
*.pyo
.pybaseball_cache/
.ruff_cache
.pytest_cache
tests/

.cache/
.pybaseball_cache/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.hypothesis/
htmlcov/
.coverage
coverage.xml
