interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://statsapi.mlb.com/api/v1/teams/116/roster?rosterType=injuries
  response:
    body:
      string: >
        {"copyright":"Copyright 2025 MLB Advanced Media, L.P.","roster":[
          {"person":{"id":679529,"fullName":"Spencer Torkelson","link":"/api/v1/people/679529"},"jerseyNumber":"20","position":{"code":"3","name":"First Base","type":"Infielder","abbreviation":"1B"},"status":{"code":"IL10","description":"10-Day Injured List"},"parentTeamId":116,"note":"Right hand inflammation"},
          {"person":{"id":669456,"fullName":"Matt Vierling","link":"/api/v1/people/669456"},"jerseyNumber":"8","position":{"code":"8","name":"Center Field","type":"Outfielder","abbreviation":"CF"},"status":{"code":"IL60","description":"60-Day Injured List"},"parentTeamId":116,"note":"Left shoulder surgery (rehab)"}
        ],"teamId":116,"rosterType":"injuries","link":"/api/v1/teams/116/roster?rosterType=injuries"}
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
